body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 35px;
}
.red-color {
    color: rgb(255, 0, 0);
}
.flexible-container {
    display: flex;
    margin-bottom: 150px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 65%;
}
#bg1 {
    padding-top: 4%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 255, 0,.7),rgba(255, 0, 0,.7));
    padding: 10px 40px;
    color: rgb(0, 0, 255);
    font-weight: 700;
    border-radius: 10px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#dream-big {
    padding-right: 7%;
}
#full-stack-experience {
    border-left: 7px solid;
    border-image: linear-gradient(blue,green);
    border-image-slice: 9;
}
#web-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(blue,green);
    border-image-slice: 9;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item { 
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 20px 10px 10px 20px;
    box-shadow: 10px 10px 30px gray;
}
footer p {
    text-align: center;
}